<!--
    <% %> - excute code (run some fuction)
    <%= %> - embeded that variable 

-->

<%- include("./partials/header")%>
    <div class="container">
        <% if(moviesDump.Response==='False'){
            %>
            <h1>Movie not found!</h1>
        <%}else{%>    
            <h1>Reults are</h1>
     
            <div class="row">
              <%moviesDump['Search'].forEach(function(movie){%>
                <div class="card" style="width: 18rem;">
                    <img src="<%=movie.Poster%>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%=movie.Title%></h5>
                      <p style="color: black" class="card-text">
                          <B>TYPE:</B><%=movie.Type%><br>
                          <B>YEAR OF RELEASE:</B><%=movie.Year%><br>

                      </p>
                      <a href="/result/<%=movie.imdbID%>" class="btn btn-primary">know moree about <%=movie.Title%></a>
                    </div>
                  </div>
            <%})%>

            </div>
        <%}%>
    </div>
<%- include("./partials/footer")%>